suites:
    ns_suite:
        namespace: NestedSet
        psr4_prefix: NestedSet
        spec_path: specs
        spec_prefix: Spec
        src_path: lib

extensions:
    - PhpSpec\Extension\CodeCoverageExtension
    #- PhpSpec\NyanFormattersExtension\Extension
formatter.name: dot
code_coverage:
  format:
    #- html
    - clover
  output:
    #html: coverage
    clover: build/clover.xml
